@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color : #1f242d;
    --second-bg-color : #323946;
    --text-color : #fff;
    --main-color: rgb(255, 145, 0);  
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover, 
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 35vw;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}


.heading {
    text-align: center;
    font-size: 4.5em;
    margin-bottom: 3rem;
}


.about-content h2 {
    text-align: left;
    line-height: 1.2;
    margin-bottom: 5rem; 
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    
}

.services h2 {
    margin-bottom: 5rem;
}

.services p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio {
    background: var(--second-bg-color);
}

.portfolio p, li {       /* j'ai rajouté 'li' pour les listes à puces des missions faites en stage */
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 4rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5em;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}



/* BREAKPOINT */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }    
}

/* progress bar */

label {
    padding-right: 10px;
    font-size: 1rem;
}

.bloc {
    width: 50%; /* Chaque bloc occupe 50% de la largeur */
    padding: 20px;
    box-sizing: border-box; /* Inclut le padding dans la largeur définie */
    text-align: center; /* Centre le contenu dans chaque bloc */
    align-items: center;
}

.ma-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
    gap: 20px; /* Espace entre les blocs */
}

.bloc {
    padding: 20px;
    margin: 0 auto;
}

.bloc p {
    margin: 0 0 10px; /* Supprime la marge en bas des paragraphes */
}

.bloc ul {
    margin: 0; /* Supprime la marge par défaut des listes */
    padding-left: 20px; /* Décalage à gauche pour les listes */
}

.veille p
{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.veille h2
{
     margin-bottom: 3rem; /*marge pour les titres h2 */
}


/* parcours */

.parcours-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5rem;
}

.parcours-container .parcours-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.parcours-box {
    margin-bottom: 3rem;
    width: 200px;
    height: 270px;  
}

.parcours-container .parcours-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.parcours-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.parcours-box h3 {
    font-size: 2.6rem;
}

.parcours-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* stage */

.stage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
}

.stage-container .stage-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.stage-container .stage-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.stage-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.stage-box h3 {
    font-size: 2.6rem;
}

.stage-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.stage-box {
    width: 200px;
    height: 500px; 
}


/* Veille technologique */

.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5rem;
}

.article-container .article-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.article-box {
    margin-bottom: 3rem;
    width: 200px;
    height: 270px;  
}

.article-container .article-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.article-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.article-box h3 {
    font-size: 2.6rem;
}

.article-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* modal */

/* .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #1f242d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 500px;
    overflow: auto;
}

.modal img {
    padding: 5em;
} */

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #1f242d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 800px;
    max-width: 800px; /* Ajoutez une largeur maximale pour limiter la largeur du modal */
    height: 700px; /* Utilisez la hauteur automatique pour que le contenu ajuste la taille du modal */
    overflow: auto;
}

/* Réduisez la taille des images */
.modal img {
    max-width: 500px; /* Définissez une taille maximale pour les images */
    max-height: 500px; /* Définissez une taille maximale pour les images */
    display: block; /* Assurez-vous que les images sont affichées comme des blocs pour gérer les marges et les rembourrages */
    margin: 0 auto; /* Centrez les images horizontalement */
    padding: 10px; /* Ajoutez un peu de marge intérieure pour l'esthétique */
}


.modal p {
    font-size: 15px;
}

/* .modal h2, .modal p {
    color: black;
} */

.overlay, .overlay2, .overlay3, .overlay4, .overlay5 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.modal.active {
    display: block;
}

.overlay.active, .overlay2.active, .overlay3.active, .overlay4.active, .overlay5.active {
    display: block;
} 

/* modal slider img */

/* .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

.slider img {
    max-width: 100%;
    display: none;
    width: 150px;
    height: 150px;
}

img.active {
    
} */

/* CG */

/* Ajoutez du CSS pour masquer les slides par défaut */

#slider {
    white-space: nowrap;
    overflow-x: auto;
    margin: 0 auto;
    max-width: 80%;
}

.slide {
    display: inline-block;
    margin-right: 10px; 
    vertical-align: top;
}

/* Style pour le bouton de navigation */
.cont-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-nav {
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.btn-nav:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.slide img {
    max-width: 50px;
    height: 50px;
}

#slider img {
    display: none;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text-container {
    position: absolute;
    margin-top: 10px; /* Espace entre l'image et le texte */
    text-align: center;
    margin-top: 500px;
}


.btn-fermer {
    position: absolute;
    margin-top: 620px;
}


.text-container p {
    font-size: 16px;
    text-align: center;
}


/* CSS pour agrandir l'image active */
.modal img.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajuste l'image pour s'adapter à la zone */
    z-index: 99999; /* Assurez-vous que l'image agrandie est au-dessus de tout */
}








